% if game.bots[0] and game.bots[1]:
    % game.bots[1] = False
% end

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Four in a row</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>

    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Four in a row</h1>
                <h2 class="subtitle">Najbljša igra za preganjanje dolgčasa</h2>
            </div>
        </div>
    </section>

    <div class="container">

    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p class="title">Grid settings</p>
                <form action="/set_grid/" method="POST">
                    % include('_set_dimension.html', name='W', label='Width', first=6, last=8, select=game.width)
                    % include('_set_dimension.html', name='H', label='Height', first=5, last=7, select=game.height)
                    % include('_set_dimension.html', name='C', label='Connect', first=3, last=5, select=game.connect)
                    <div class="field">
                        <div class="control" style="margin-top: 28px;">
                            <button class="button is-info is-fullwidth">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p class="title">Red player</p>
                <form action="/change_red/" method="POST">
                    % include('_set_controls.html', name='red_control', computer=game.bots[0])
                </form>
            </div>
            <div class="tile is-child box">
                <p class="title">Yellow player</p>
                <form action="/change_yellow/" method="POST">
                    % include('_set_controls.html', name='yellow_control', computer=game.bots[1])
                </form>
            </div>
        </div>
        <div class="tile is-4 is-parent">
            <div class="tile is-child box">
                <p class="title">Game rules</p>

                <div class="field">
                    <p>Four in a row is a two player board game. The first player is red and the socond is yellow.
                        Players drop their tokens into the grid in turns.
                        The one that first manages to connect four tokens in a row either horizontally, vertically or diagonally wins.
                        If the entire grid is filled it is a draw.<br>
                        You can change grid dimensions and the amount of tokens to connect in grid settings.
                        You can also change which player is controled by human and which by a computer.
                        Keep in mind that not both players can be controled by a computer.
                    </p>
                </div>

                <form action="/game/" method="POST">
                    <div class="field">
                        <div class="control" style="margin-top: 28px;">
                            <button class="button is-link is-fullwidth"><strong>Play</strong></button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    </div>
</body>
</html>